th{
    color: white;
    background-color: rgb(73, 73, 73) !important;
}
.tiempo{
    background-color: orange !important;
    font-weight: bold;
}
td{
    background-color: lightgray !important;
}
.miEstilo{
    width: 100%;
    padding: 25px;
    background-color: darkred;
    color: white;
    font-size: 25px;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}